<app-nav></app-nav>

<div class='body-container'>
    <mat-card>
        <h3>Narido`s Contact Page</h3>
        <mat-list>
            <mat-list-item>
                <mat-icon>email</mat-icon>Email: <p>Shielamae.narido@evsu.edu.ph</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>hub</mat-icon>Github: <p>https://github.com/shielamae09</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>facebook</mat-icon>Facebook: <p>https://web.facebook.com/aleihseamyesha18</p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>