mat-toolbar{
    z-index: 3;
    position:fixed;
    top:0;
    left:0;
    padding:10px;
    background-color: rgb(255, 0, 191);
}

mat-button-toggle{
    background-color: transparent;
}

mat-button-toggle-group{
    border:none;
}



mat-list{
    position: fixed;
    z-index: 2;
    width:200px;
    left:0; top:50px;
    background-color: white;
    height: 92vh;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

mat-list-item:hover{
    color:rgb(255, 0, 191);
    cursor: pointer;
}

a{
    text-decoration: none;
}